.idea
.DS_Store
2_webpack/node_modules
2_webpack/dist
3_react/node_modules
3_react/dist
4_react/node_modules
4_react/dist
5_react_routing/node_modules
5_react_routing/dist
6_react_flux/node_modules
6_react_flux/dist
7_react_redux/node_modules
7_react_redux/dist
8_react_hooks/node_modules
8_react_hooks/dist
todo_list/node_modules
todo_list/dist
