@import (reference) './vars';

.list {
  margin: 1rem 0;

  &__item {
    padding: 1.5rem 2rem;

    box-shadow: 0 0 1px 1px @box-shadow-color;
    border: 1px solid @border-color;
    border-radius: .5rem;
  }

  &__title,
  &__description {
    margin: 0 0 .5rem 0;
  }
}
